@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Press Start 2P" !important;
}

.bg-gradient {
  background: url("/lab.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
}

.countdown {
  font-size: 0.8em;
  color: yellow;
}

footer {
  margin-top: 3em;
}

.text-xxs {
  font-size: 0.5em;
}

.eightbit-btn {
  flex: 1;
  background: #313030;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 16px;
  padding: 16px;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #538f40;
}

.eightbit-btn:disabled:hover,
.eightbit-btn[disabled] {
  background: rgb(167, 166, 166);
  box-shadow: inset -6px -6px 0px 0px gray;
}

.eightbit-btn:hover,
.eightbit-btn:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #538f40;
}
.eightbit-btn:active {
  box-shadow: inset 4px 4px 0px 0px #538f40;
}

.eightbit-btn:before,
.eightbit-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}

.header-bg {
  background: url("/header_78_h.png");
  background-size: 100% 78px;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
}

.header {
  height: 78px; /* Altura de la imagen que subiste */
  width: 100%; /* Ancho completo */
  background: repeating-linear-gradient(
    to bottom,
    #000000, 
    #000000 4px,
    #333333 4px,
    #333333 5px
  );
  box-shadow: 
    inset 0 8px 0 rgba(255, 255, 255, 0.1), /* Sombra interna superior */
    inset 0 -8px 0 rgba(0, 0, 0, 0.3); /* Sombra interna inferior */
}

.marquee {
  overflow: hidden;
  position: relative;
}

.track {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 6s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(200%); }
  100% { transform: translateX(-100%); }
}

.sidebar{
  border-left: 2px gray solid;
  border-bottom: 2px gray solid;

  background: repeating-linear-gradient(
    to bottom,
    #000000, 
    #000000 4px,
    #333333 4px,
    #333333 5px
  );
  box-shadow: 
    inset 0 8px 0 rgba(255, 255, 255, 0.1), /* Sombra interna superior */
    inset 0 -8px 0 rgba(0, 0, 0, 0.3); /* Sombra interna inferior */
}
